.layout-container {
    background-color: $body-bg-color;
    @include full-width-height;
}

.main-container {
    padding: 15px 0;
    max-height: -webkit-fill-available;
    @include width-height(auto, 100%);
}

.content-container {
    @include full-width-height;
}

.fade-out {
    -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);
}

.mat-divider {
    border-top-color: $border-color !important;
}

.tile-container {
    @include flex-space-between-center;
    cursor: pointer;
    white-space: nowrap;
    padding: 15px;
    border-radius: $default-border-radius;

    .left-section {
        display: flex;
        gap: 30px;
        flex-grow: 1;
        overflow: hidden;

        .tile-text {
            text-overflow: clip;
            width: 65%;
        }
    }
    .right-section {
        display: flex;
        width: 80px;
        justify-content: end;
        align-items: center;
    }
    
    &:hover, &.selected {
        background-color: $left-sidenav-box-bg-color;
    }
}

.profile-image {
    border-radius: 15%;
    object-fit: cover;
}

.chat-section-container {
    @include full-width-height;

    .chat-row-container {
        display: flex;
        line-height: normal;
        padding: 20px;
    
        &.chatgpt-message-bg {
            background-color: $chat-msg-text-bg-color;
        }

        .chat-container {
            @include chat-section-width;
            display: flex;
            margin: 0 auto;
            gap: 30px;
            align-items: flex-start;
    
            .profile-image-container {
                width: 10%;
                min-width: 10%;

                .profile-image {
                    width: 3rem;
                    height: 3rem;
                    object-fit: cover;
                    float: right;
                }
            }
        
            .message-container {
                flex-grow: 1;

                &.message-from-user {
                    color: $user-msg-text-color;
                }

                &.message-from-chatgpt {
                    color: $chat-msg-text-color;
                }
            }
        
            .actions-group-container {
                width: 10%;
                min-width: 10%;
                @include flex-space-between-center;
            }
        }
    }
}

.send-a-message-form {
    @include chat-section-width;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $input-bg-color;
    border-radius: $default-border-radius;
    padding: 15px;

    &.ng-valid .submit-btn{
        background-color: $green-color;
        
        svg {
            fill: $white;
        }
    }

    &.ng-invalid .submit-btn {
        svg {
            fill: $input-text-color;
        }
    }
}
    
.padding-y-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.margin-left-15 {
    margin-left: 15px;
}