.layout-container {
    background-color: $body-bg-color;
    @include full-width-height;
}

main {
    padding-top: 15px;
    @include width-height(auto, 100%);
    position: relative;
    overflow-y: scroll;
}

.wrapper-container {
    @include width-height(100%, auto);
    min-height: calc(100% - $send-message-container-height);
    padding-bottom: $send-message-container-height;
    position: relative;
}

.full-width-height {
    @include full-width-height;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.fade-out {
    -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);
}

.mat-divider {
    border-top-color: $border-color !important;
}

.tile-container {
    @include flex-space-between-center;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px;
    border-radius: $default-border-radius;
    gap: 10px;

    .left-section {
        display: flex;
        gap: 20px;
        width: 100%;
        overflow: hidden;
    }
    .right-section {
        display: flex;
        width: 120px;
        justify-content: end;
        align-items: center;
    }
    
    &:hover, &.selected {
        background-color: $left-sidenav-box-bg-color;
    }
}

.profile-image {
    border-radius: 15%;
    object-fit: cover;
}

.chat-section-container {
    @include full-width-height;

    .chat-row-container {
        display: flex;
        line-height: normal;
        padding: 20px;
    
        &.chatgpt-message-bg {
            background-color: $chat-msg-text-bg-color;
        }

        .chat-container {
            @include chat-section-width;
            display: flex;
            margin: 0 auto;
            gap: 30px;
            align-items: flex-start;
    
            .profile-image-container {
                width: 5%;
                min-width: 5%;

                .profile-image {
                    width: 2.2rem;
                    height: 2.2rem;
                    object-fit: cover;
                    float: right;
                }
            }
        
            .message-container {
                flex-grow: 1;

                &.message-from-user {
                    color: $user-msg-text-color;
                }

                &.message-from-chatgpt {
                    color: $chat-msg-text-color;
                }
            }
        
            .actions-group-container {
                width: 10%;
                min-width: 10%;
                @include flex-space-between-center;
            }
        }
    }
}

.send-message-container {
    @include width-height(100%, $send-message-container-height);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, #353840 70%, transparent);
}

.send-a-message-form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: $input-bg-color;
    border-radius: $default-border-radius;
    padding: 15px;

    &.ng-valid .submit-btn{
        background-color: $green-color;
        
        svg {
            fill: $white;
        }
    }

    &.ng-invalid .submit-btn {
        svg {
            fill: $input-text-color;
        }
    }
}

.default-conversation-container {
    @include width-height(60%, 700px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    .usage {
        &-wrapper-container {
            @include width-height(100%, auto);
            display: flex;
            gap: 20px;
            margin-top: 50px;

            .title-section {
                margin-bottom: 20px;
            }
        }

        &-card {
            padding: 20px 10px;
            background-color: $card-bg-color;
            border-radius: $default-border-radius;
            @include flex-center-center;
            margin-bottom: 20px;
            line-height: 1.5rem;
        }
    }
}

.usage-wrapper-container > * {
    width: calc(100% / 3);
    text-align: center;
}

.padding-y-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.margin-left-15 {
    margin-left: 15px;
}

.clickable {
    cursor: pointer;
}