.send-a-message-form {
    @include chat-section-width;
    @include flex-space-between-center;
    margin: 0 auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $input-bg-color;
    border-radius: $default-border-radius;
    padding: 15px;

    .input-container {
        @include full-width-height;
    }

    &.ng-valid .submit-btn{
        background-color: $green-color;
        
        svg {
            fill: $white;
        }
    }
}
