@mixin typography($font-size, $color, $line-height: normal, $letter-spacing: normal) {
    font-size: $font-size;
    @if $line-height==normal {
        line-height: normal;
    } @else {
        line-height: math.div($line-height, $font-size)
    }

    @if $letter-spacing==normal {
        letter-spacing: normal;
    } @else {
        letter-spacing: #{$letter-spacing / $font-size}em;
    }
	color: $color;
}

@mixin border($color: $border-color, $thickness: 2px) {
    border: $thickness solid $color;
}

@mixin button-setting($font-size, $font-weight, $background-color, $color: $black, $paddingTopBottom: null, $paddingLeftRight: null, $marginTopBottom: null, $marginLeftRight: null) {
    font-size: $font-size;
    font-weight: $font-weight;
    background-color: $background-color;
    margin: $marginTopBottom $marginLeftRight;
    padding: $paddingTopBottom $paddingLeftRight;
    color: $color;
    border: none;
    border-radius: $default-border-radius;
    cursor: pointer;
    text-align: center;
}

@mixin chat-section-width {
    width: 80%;
}

@mixin width-height($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin full-width-height() {
    width: 100%;
    height: 100%;
}

@mixin flex-space-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin input-settings {
    @include typography(1.2rem, $user-msg-text-color);
    background-color: transparent;
    border: none;
    outline: none;
    width: 95%;
}
