.elm-sidenav-title {
    @include typography(18px, $left-sidenav-text-light-color);
}

.elm-sidenav-label {
    @include typography(16px, $left-sidenav-text-dark-color);
    font-weight: 400;
}

.elm-message-text {
    font-size: 1.2rem;

    &.white {
        color: $left-sidenav-text-light-color;
    }
}

.elm-input {
    @include input-settings;

    &::placeholder {
        color: $input-text-color;
    }
}

.elm-text-md {
    @include typography(24px, $left-sidenav-text-light-color);
}

.elm-text-lg {
    @include typography(40px, $left-sidenav-text-light-color);
    font-weight: bold;
}

