<form class="send-a-message-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-container">
        <textarea matInput class="elm-input" placeholder="Send a message."
        cdkTextareaAutosize cdkAutosizeMinRows="1" #autosize="cdkTextareaAutosize"
        formControlName="message" id="message" name="message"></textarea>
    </div>

    <button class="elm-btn submit-btn" type="submit" [disabled]="form.invalid">
        <mat-icon svgIcon="icon-send" class="left-sidenav-icon-in-box-color icon-sm"></mat-icon>
    </button>
</form>